@media (max-width: 576px) {
  nav {
    width: 100%;
  }

  .donation {
    width: 100vw;
    /* height: auto; */
    height: 73px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 10px 25px;
  }

  main {
    width: 100%;
    height: 500px;
    padding: 30px;
  }

  .title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    height: 30px;
  }

  .subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  #iphone16pro {
    background-image: url(mobile-view-img/mobile-16pro.jpg);
    justify-content: flex-end;
  }

  #iphone16 {
    background-image: url(mobile-view-img/mobile-16.jpg);
  }

  #visible-item {
    background-image: url(mobile-view-img/mobile-ipad.jpg);
    width: 100vw;
    height: 500px;
    padding: 30px;
    gap: 5px;
  }

  .gradient {
    padding-top: 300px;
  }

  .product-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .product {
    height: 500px;
    gap: 10px;
    padding: 30px;
  }

  #p2 {
    order: 1;
  }

  #p4 {
    order: 2;
  }

  #p3 {
    order: 3;
  }

  #p1 {
    order: 4;
  }

  #p6 {
    order: 5;
  }

  #p5 {
    order: 6;
  }

  .sliders {
    width: 274px;
    height: 495px;
  }

  .slider-container {
    display: none;
  }

  .button {
    text-wrap: nowrap;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 16px;
  }

  #slide1 {
    background-image: url(mobile-view-img/sliders/6803192320c01991746406d30d1c209f915d5669.jpg);
  }

  #slide2 {
    background-image: url(mobile-view-img/sliders/4cab1570e2f6107d413dfa8f5ee5529aded13420.jpg);
  }

  #slide3 {
    background-image: url(mobile-view-img/sliders/d6d754a221c2eb7a8b29f50f4b07ed57a5561306.jpg);
  }

  #slide4 {
    background-image: url(mobile-view-img/sliders/34e51e39872210aa06e802ad1aa23f047c1ae9d5.jpg);
  }

  #slide5 {
    background-image: url(mobile-view-img/sliders/75cfc40b3d83f8f3ff5b779dc0a66f085f6ef502.jpg);
  }

  #slide6 {
    background-image: url(mobile-view-img/sliders/199eb811138ceca9bab2d6eccc852b617aafa880.jpg);
  }

  #slide7 {
    background-image: url(mobile-view-img/sliders/81561a650456e8bad8d513a061e8a144d3947254.jpg);
  }

  #slide8 {
    background-image: url(mobile-view-img/sliders/ebb644fec1d9a1411cce640e9cc8f3aa14cff377.jpg);
  }

  #slide9,
  #slide10,
  #b9,
  #b10 {
    display: none;
  }
}
