* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", serif;
}

html {
  scroll-behavior: smooth;
}

.h4-white {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}

.h5-white {
  color: #f5f5f7;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f7;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  position: fixed;
  width: 100vw;
  height: 44px;
  background-color: #f5f5f7;
  gap: 2vw;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: Arial;
  white-space: nowrap;
}

nav img {
  width: 14px;
}

.donation {
  margin-top: 44px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #1d1d1f;
  font-weight: 500;
  background-color: white;
}

#gradientimg {
  background-image: url(store-img/store-header.png);
  width: 100vw;
  height: 75px;
}

.store-help {
  padding: 80px 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.store-help-h2 {
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px;
}

.gradient {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.saaral {
  color: #6e6e73;
}

.store-help .container {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

#help-center {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

#help-center-img {
  width: 35px;
  height: 35px;
}

#need-help {
  display: flex;
  width: 175px;
  flex-direction: column;
  gap: 16px;
}

.txt1 {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.help-link {
  color: #06c;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#category {
  width: 100vw;
  padding: 0 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: scroll;
  scrollbar-width: none;
  margin-bottom: 60px;
}

.category-contain {
  display: flex;
  padding: 16px 8px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  text-wrap: nowrap;
}

.img-container {
  width: 120px;
  height: 78px;
}

.img-container img {
  width: 100%;
  height: 100%;
}

h3 {
  color: #1d1d1f;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  width: auto;
}

.garchig-container {
  display: flex;
  gap: 20px;
  padding: 0 140px;
  margin-bottom: 24px;
}

.garchig {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  height: 34px;
  text-wrap: nowrap;
}

section {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0 140px;
  overflow: scroll;
  scrollbar-width: none;
  margin-bottom: 60px;
}

.card-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card {
  min-width: 480px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.background-center {
  background-size: cover;
  background-position: center;
}

#latest #first {
  background-image: url(store-img/latest-img/8cee8a34ee4ba9b658ae0be05611d11ea5d55e1b.jpg);
}

#latest #second {
  background-image: url(store-img/latest-img/c919767811d17384ffff099320c9c7133d51ca53.jpg);
}

#latest #third {
  background-image: url(store-img/latest-img/0cfc0dd0d01205674f4c489ef17a681ba94e875c.jpg);
}

#latest #fourth {
  background-image: url(store-img/latest-img/8943d8c585c4f4bb4720641745b1cce65bdd8f0e.jpg);
}

h5 {
  color: #b64400;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

h4 {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.196px;
  width: 326px;
}

p {
  color: #1d1d1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.card2 {
  min-width: 400px;
  height: 500px;
  border-radius: 18px;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
  gap: 12px;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.card3 {
  height: 500px;
  min-width: 313px;
  display: flex;
  padding: 71px 28px 32px 28px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.baraa-img {
  width: 230px;
  height: 230px;
}

.dot-container {
  display: flex;
  gap: 7px;
  padding: 25px 86px 21px 79px;
}

.color-dot {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

#Personalization #first {
  background-image: url(store-img/Personalization-img/0a525b0da81b93735e1f513f958e111d7e3079a1.jpg);
}

.medeelel {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-self: flex-start;
}

.medeelel-head-con {
  gap: 6px;
  display: flex;
  flex-direction: column;
}

.medeelel h4 {
  line-height: 20px;
  font-size: 18px;
  height: 40px;
  width: 257px;
}

.medeelel p {
  color: #1d1d1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

#holiday-picks #first {
  background-image: url(store-img/holiday-picks-img/6da69c7f2d4d299063c16c1d325db130f08ef7ba.jpg);
}

#only-at-apple .card h4 {
  width: 305px;
  height: 130px;
}

#only-at-apple #first {
  background-image: url(store-img/only-at-apple-img/93f151ac653907f22599b9fbc9ab8bcfb347d691.jpg);
}

.card4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}

.card4-tal {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}

.card4-tal h4 {
  color: #1d1d1f;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  width: 238px;
  display: flex;
  align-items: center;
}

.h5-saaral {
  color: #6e6e73;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
}

#only-at-apple #second {
  background-image: url(store-img/only-at-apple-img/54711505d840cac99050329da0237a9a79b9d07d.jpg);
}

#only-at-apple #third {
  background-image: url(store-img/only-at-apple-img/7be9e8c4cd1a574c53bacf2396a17f1007bfc091.jpg);
}

#the-apple-experience #first {
  background-image: url(store-img/the-apple-experience/fe1e7ece87047c95faa8a68f17e8867914317976.jpg);
}

#the-apple-experience #second {
  background-image: url(store-img/the-apple-experience/2171b58f3ab6a95e407be2639740dad7138786d3.png);
}

#the-apple-experience #third {
  background-image: url(store-img/the-apple-experience/7e38eec3034a854374ceb67eb6c71f4e173cee8e.jpg);
}

#the-apple-experience #fourth {
  background-image: url(store-img/the-apple-experience/4c93c049459dcec6247af385b50ac485e92e5a45.jpg);
}

#the-apple-experience p {
  width: 259px;
}

.garchig-break {
  display: flex;
  gap: 20px;
}

.break {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

#special-savings #first {
  background-image: url(store-img/special-savings-img/57e6bdca2b0f233f809fe57ada1ba8354e54e4b4.jpg);
}

#special-savings #second {
  background-image: url(store-img/special-savings-img/c29a91c005069048c5e1b877cf3142fa2fab6067.jpg);
}

#special-savings #third {
  background-image: url(store-img/special-savings-img/60a49ef1a49579aa398f78daa8ab814a87b543dc.jpg);
}

#special-savings #fourth {
  background-image: url(store-img/special-savings-img/a960f7eefe8796ce51144b229909100094a59989.jpg);
}

#special-savings #fifth {
  background-image: url(store-img/special-savings-img/9511d82e0fa4f14f3d23b485ab3928f9d27a5012.jpg);
}

.footer-garchig {
  color: #1d1d1f;
  font-size: 26px;
  font-weight: 700;
  line-height: 32px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 24px;
}

.quick-links {
  display: flex;
  padding: 10px 12px;
  align-items: center;
  gap: 8px;
  border-radius: 999px;
  border: 1px solid #1d1d1f;
}

a {
  text-decoration: none;
}
